body {
    background: #EEF2F7;
  }
#Box {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  
    
    
    max-height: auto;
   max-width: 476px;
    margin: 100px auto;
    background: white;
    border-radius: 5px;
   
  }

  
 
  #title{
    padding-top: 100px;
    text-align: start;
    text-indent: 1%;
    font-weight: bold;

  }
  .f1{
    outline: none;
    
  }
#Lb{
  background-color:rgb(166, 52, 241);
  color: white;
}
#Fp{
padding-left: 30%;
text-decoration: none;
}

.line {
  width: 53px;
  height: 0;
  border: 1px solid #C4C4C4;
  margin: 3px;
  display:inline-block;
  padding-left: 20px;
  
}
#p{
  text-align: center;
}
#iconDiv{
  text-align: center;
}
#iconDiv > span{
  margin: 2%;
}
#fb{
  background-color: royalblue;
  color: white;
  padding: 5px;
}
#x{
  background-color: black;
  color: white;
  padding: 5px;
}
#li{
  background-color: blue;
  color: white;
  padding: 5px;
}
#reddit{
  background-color: orangered;
  color: white;
  padding: 5px;
}
#splsg{
 text-indent: 5%;
 font-weight: bold;
 color: #201E6D;
}
.sl{
  margin: 15px;
}
.sl > div{
  margin-left: 30px;
  text-indent: 15%;
}
#btncontainer > button{
margin: 10px;
}